*{
  margin: 0;

}
.container{
  max-width: 1280px;
  margin: 0 auto;
}
.navbar{
  display: flex;
  padding: 0 24px;
  justify-content: space-between;
  height: 72px;
  align-items: center;

}

.list ul{
  
    list-style: none;
    display: flex;
    gap: 24px;
  
}
.text h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
}
.text p {
  font-weight: 500;
  color: grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


